.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 4rem;
  background: var(--white);
  border-bottom: 1px solid var(--sidebar-border-color);
}

.dashboard-welcome {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-profile-circle {
  width: 4rem;
  height: 4rem;
  background-color: var(--purple);
  color: var(--white);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
}

.dashboard-welcome-text {
  color: var(--grayish);
  font-size: 1rem;
  margin: 0;
}

.dashboard-demo-btn {
  background: var(--register-btn-bg);
  color: var(--white);
  border: none;
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
}