.notification-page {
    background-color: var(--white);
    /* margin: 1.5rem; */
    padding: 1.5rem;
    border-radius: 1rem;
    /* border: 1px solid red; */
    width: 100%;

    h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
}