.password-security-container {
    margin: 3rem 2rem;
    padding: 2rem;
    color: var(--primary-text-color);

    .section-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 3rem;
    }

    .security-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        padding: 2rem 0;
    }

    .security-text h3 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.2rem;
    }

    .security-text p {
        color: var(--secondary-text-color);
        font-size: 0.9rem;
        margin: 0;
    }

    .btn {
        border: 1px solid var(--border-color);
        background: transparent;
        border-radius: var(--btn-border-radius);
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .btn:hover {
        background-color: var(--btn-hover-bg);
    }

    .change-btn {
        color: var(--gray-hover);
    }

    .logout-btn {
        color: var(--logout-color);
        border-color: var(--logout-color);
    }

    .logout-btn:hover {
        background-color: var(--light-red-hover);
    }
}